html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #F05829;
}

p {
  text-align: justify;
}

.btn {
  border-radius: 0 !important;
}

.btn.btn-default {
  background: #F05829;
  color: #fff;
  font-weight: 100;
  margin: 15px;
}

.naranja {
  color:  #F05829;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #f2f2f2;
  background:#F05829;
}

a.menutop {
  color: #333333;
  margin: 0 5px;
  border-right: 1px solid #dedede;
  padding: 10px;
  border-left: 1px solid #dedede;
  transition: all 1s;
}

a.menutop:hover {
  background: #F05829;
  color: #fff;
  text-decoration: none;
}

.card {
  flex-direction: row;
}

.card .laimagen {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyectos {
  margin-bottom: 80px;
}

* {
  box-sizing: border-box;
}
