* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #F05829;
}

p {
  text-align: justify;
}

.btn {
  border-radius: 0 !important;
}

.btn.btn-default {
  background: #F05829;
  color: #fff;
  font-weight: 100;
  margin: 15px;
}

.naranja {
  color:  #F05829;
}

.bkgnaranja {
  background: #F05829;
  color: #fff;
  border: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background:#F05829;
  z-index: 10000;
}

h5.tagger {
  background: #111111;
  color: #fff;
  padding: 10px;
}

a.menutop {
  color: #333333;
  margin: 0 5px;
  border-right: 1px solid #dedede;
  padding: 10px;
  border-left: 1px solid #dedede;
  transition: all 1s;
}

a.menutop:hover {
  background: #F05829;
  color: #fff;
  text-decoration: none;
}

.card {
  flex-direction: column;
}

.card .laimagen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyectos {
  margin-bottom: 80px;
}

ul.menuLateral {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menuLateral li a {
  display: block;
  width: 100%;
  background: #F05829;
  color: #fff;
  padding: 10px;
  transition: all 1s;
  margin-top: 3px;
}

ul.menuLateral li a:hover {
  text-decoration: none;
  background: #333333;
}

.submenu a {
  background: #111;
  color: #fff;
  padding: 10px;
  transition: all 1s;
}

.submenu a:hover {
  background: #F05829;
  text-decoration: none;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.submenu a {
  margin-right: 5px;
}

.digital {
  background: url('/images/innocean-edificio.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.entrada {
  background: url(/images/innocean-edificio.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.digital .mascara {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.digital .mascara h2 {
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
}

.digital .mascara h3 {
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-size: 1rem;
}

.digital .mascara .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digital .mascara .menu a {
  color: #fff;
  text-align: center;
  transition: all 1s;
}

.digital .mascara .menu a:hover {
  text-decoration: none;
  background: #F05829;
}

.digital .mascara .menu a img {
  width: 50px;
  margin: 20px 50px;
}

.digital .mascara .menu a p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

a.regreso {
  width: 100%;
  text-align: center;
  display: block;
  margin: 5px;
  padding: 5px;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 10px;
  transition: all 1s;
  background: #333;
}

a.regreso:hover {
  background: #fff;
  text-decoration: none;
}

a.regreso .lnr {
  font-size: 2rem;
}

.nav-pills .nav-link {
  border-radius: 0;
  border:0;
  background: #222;
  font-weight: bold;
  padding: 20px 10px;
  font-weight: 900;
  color: #fff;
}

.nav-pills .nav-link:hover {
  background: #fff;
  color: #111;
}

.nav-pills .nav-link:hover .lnr {
  color: #fff;
}

.nav-pills .nav-link.active {
  background: #f05829;
}

.nav-pills .nav-link.active .lnr {
  position: absolute;
  right: 10px;
  margin-top: -5px;
  font-weight: bold;
  background: #000;
  padding: 10px;
}

.contenidoTab {
  padding: 20px;
  padding: 0;
    height: 100vh;
    padding: 10px;
}

.contenidoTab h1 {
  font-weight: 100;
  color: #fff;
}

.development {
  background: url('/images/innocean-edificio-mexico.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  height: 90%;
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

.carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.d-flex.badges div {
  background: #f05829;
  margin: 3px;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex.badges div p {
  text-align: center;
  padding: 10px;
  margin: 0;
}

.d-flex.badges div .lnr {
  background: #000;
  padding: 10px;
}

.carousel-caption h3 {
  font-weight: 900;
}

.carousel-caption p {
  text-align: justify;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 10000;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-indicators {
  margin-right: 5%;
    margin-left: 5%;
}

.carousel.slide {
  padding: 40px 0;
}

.carousel-inner {
  padding: 0 120px;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.digital.hcamiones {
  background: url('/images/hyundai/camion1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital.hcamiones .mascara {
  background: rgba(0,0,0,0.8);
}

.development.hyundai {
  padding: 20px;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.development.hyundai h1 {
  font-weight: 100;
}

.estatico {
  position: fixed;
  top: 0;
  display: contents;
}

.cotizacion.ar {
  background: url('/images/kia/ar/bkg_.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cubo canvas {
  width: 100% !important;
  height: 200px !important;
  background-color: #fff !important;
  background: #fff !important;
}

.presentacion .intro {
  background: url('/images/presentacion/fondo1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentacion .intro h2 {
  color: #fff;
  font-weight: bold;
}

.presentacion .intro h3 {
  color: #fff;
  font-weight: 100;
  font-size: 2.9rem;
}

.presentacion .intro h4 {
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
}

.presentacion .intro .logos {
  display: flex;
  flex-direction: row;
}

.presentacion .intro .logos img {
  width: 140px;
  padding: 15px;
  margin: 0 20px;
  cursor: pointer;
  transition: all 1s;
}

.presentacion .intro .logos img:hover {
  background: rgba(0,0,0,0.5);
}

.presentacion ul.proyectos {
  list-style: none;
  margin: 0;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.presentacion ul.proyectos li {
  position: relative;
  float: left;
  text-align: center;
}

.presentacion ul.proyectos li a {
  padding: 5px 30px;
    margin: 5px;
    background: rgba(0,0,0,0.8);
    transition: all 1s;
    font-weight: bold;
    box-shadow: 0 0 10px 0 #000;
    border-radius: 20px;
}

.presentacion ul.proyectos li a:hover {
  background: #F05829;
  color: #000;
  text-decoration: none;
}

.fadeOut{
  opacity:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s, opacity 0.5s;
}

.fadeIn{
  opacity:1;
  height: auto;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.btn-workflow {
  margin-top: 30px;
}

.btn-workflow a {
  background: #F05829;
  color: #111 !important;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  transition: all 1s;
}

.btn-workflow a:hover {
  background: #fff;
  text-decoration: none;
}

.usuario form {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.usuario form input {
  border-radius: 0;
  border: none;
}

.usuario form .form-group {
  margin-bottom: 0;
}

.usuario form button.btn {
  padding: 0px 20px !important;
  background: #f05829;
  color: #fff;
  border: 1px solid #f05829;
}

.presentacion .intro .logos.noensenar {
  display: none;
}

.presentacion .intro .logos.ensenar {
  display: flex;
}

.presentacion .intro .usuario.noensenar {
  display: none;
}

.presentacion .intro .usuario.ensenar {
  display: flex;
}

@media all and (max-width: 699px) {
  body {
    display: grid;
  }
  .digital .mascara {
    padding: 10px;
    margin: 0vh;
  }
  .digital .mascara .menu {
    flex-direction: column;
  }

  .presentacion .intro .logos.ensenar {
    flex-direction: column;
  }

  .presentacion .intro .logos.ensenar img {
    padding: 0;
    width: 20%;
  }

  .presentacion .intro h2 {
    font-size: 1rem;
  }

  .presentacion .intro h4 {
    font-size: 0.8rem;
  }

  .presentacion ul.proyectos {}

  .presentacion ul.proyectos li a {
    font-size: 0.5rem;
    padding: 10px;
  }

  .btn-workflow a {
    font-size: 0.5rem;
    padding: 10px;
  }
}